/*
    100 - Thin
    200 - Extra Light, Ultra Light
    300 - Light
    400 - Normal, Book, Regular
    500 - Medium
    600 - Semi Bold, Demi Bold
    700 - Bold
    800 - Extra Bold, Ultra Bold
    900 - Black, Heavy
*/

$ttf: format("truetype");
$otf: format("opentype");
$thin: 100;
$extralight: 200;
$ultralight: 200;
$light: 300;
$normal: 400;
$book: 400;
$regular: 400;
$medium: 500;
$semibold: 600;
$demibold: 600;
$bold: 700;
$extrabold: 800;
$ultrabold: 800;
$black: 900;
$heavy: 900;
$gotham: "Gotham", sans-serif;